<div class="container main-container">
  <h4>Demo de Cadastro</h4>
  <hr />
  <form novalidate (ngSubmit)="adicionarUsuario();" formGroup="cadastroForm">
    <div class="form-horizontal">
      <div class="form-group">
        <label class="col-md-2 control-label" for="nome">Nome completo:</label>
        <div class="col-md-10">
          <input class="form-control" id="nome" type="text" placeholder="Nome (requerido)" formControlName="nome" ngClass="{ 'is-invalid': displayMessage['nome'] }">
          <span class="text-danger" *NgIf="displayMessage['nome']">
            <p [innerHTML]="displayMessage['nome']"></p>
          </span>
        </div>
      </div>
      <div class="form-group">
        <label class="col-md-2 control-label" for="cpf">CPF</label>
        <div class="col-md-10">
          <input class="form-control" id="cpf" type="text" placeholder="CPF (requerido)" formControlName="cpf" ngClass="{ 'is-invalid': displayMessage['cpf'] }">
          <span class="text-danger" *NgIf="displayMessage['cpf']">
            <p [innerHTML]="displayMessage['cpf']"></p>
          </span>
        </div>
      </div>
      <div class="form-group">
        <label class="col-md-2 control-label" for="email">E-mail:</label>
        <div class="col-md-10">
          <input class="form-control" id="email" type="text" placeholder="E-mail (requerido)" formControlName="email" ngClass="{'is-invalid': displayMessage['email']}">
          <span class="text-danger" *NgIf="displayMessage['email']">
            <p [innerHTML]="displayMessage['email']"></p>
          </span>
        </div>
      </div>
      <div class="form-group">
        <label class="col-md-2 control-label" for="senha">Senha:</label>
        <div class="col-md-10">
          <input class="form-control" id="senha" type="password" placeholder="Senha (requerido)" formControlName="senha" ngClass="{'is-invalid': displayMessage['senha']}">
          <span class="text-danger" *NgIf="displayMessage['senha']">
            <p [innerHTML]="displayMessage['senha']"></p>
          </span>
        </div>
      </div>
      <div class="form-group">
        <label class="col-md-2 control-label" for="confirmeSenha">Confirme a senha:</label>
        <div class="col-md-10">
          <input class="form-control" id="confirmeSenha" type="password" placeholder="Confirme a senha (requerido)" formControlName="confirmeSenha" ngClass="{'is-invalid': displayMessage['confirmeSenha']}">
          <span class="text-danger" *NgIf="displayMessage['confirmeSenha']">
            <p [innerHTML]="displayMessage['confirmeSenha']"></p>
          </span>
        </div>
      </div>
      <div class="form-group">
        <div class="col-md-4 col-md-offset-2">
          <span><button class="btn btn-success" id="Registrar" type="submit">Registrar</button></span>
          <!-- //[disabled]="!cadastroForm.valid" -->
        </div>
      </div>

      <div class="form-group">
        <div class="col-md-4 col-md-offset-2">
          <p>Formulario valido: {{cadastroForm.valid}}</p>
          <p>Formulario tocado: {{cadastroForm.touched}}</p>
          <p>Formulario sujo: {{cadastroForm.dirty}}</p>
          <p>Formulario: {{formResult}}</p>
        </div>
      </div>



    </div>
  </form>
</div>